.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}

.description {
  max-width: 450px;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.hintContainer {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  background-color: #f0f0f0;
  padding: 0.5rem;
}

.hint {
  font-size: 0.9rem;
  text-align: center;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.coordinatesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid lightgray;
  padding: 1rem;
  margin-top: 1rem;
}

.coordinateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: white;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 4px;
  min-width: 250px;
}

.value {
  font-size: 1rem;
}
